* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .150s ease-in-out;
}

html {
  background: url("./bg.svg") no-repeat fixed center;
  background-size: cover;
  color: white;
}
